@import compass/css3

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body
  :width 960px
  :margin 0 auto

#container
  >header
    :padding 2em 1em
    >h1
      :font-size 3em
      :width 80%
      :float left
    >ul
      :list-style none
      :margin 0
      :float right
      :display block
      :width 20%
      :line-height 2em
      :text-align right
      >li
        :padding 0 1em
        :background transparentize(black, .9)
        &.name
          :font-weight bold

#main
  :width 90%
  :margin 3em auto
  :clear both
  >h1
    :font-size 2em
    :padding 1em 1em .25em 0
    :margin 0 0 .5em 0
    :border-bottom 1px solid black
  .newmessage
    :float right
    :margin-top -3em
  ul
    li
      :display block
      :clear both
      :border-bottom 2px solid white
      :margin-bottom 1em
      :overflow hidden
        
      .vote
        :display block
        :float left
        :width 4%
        :padding .5em 0
        :background rgba(0,0,0,.7)
        :border-radius 5px 0 0 5px
        :color white
        :text-align center
        :font-size 1.3em
        a
          :display block
          :margin 15px 0
          :color white
          
      article
        :float left
        :width 95%
        :padding 0
        :border-right 1px solid white
        header
          :padding 0 2em
          h1
            :display block
            :clear both
            :font-size 2em
          p
            :clear left
        section
          :padding .5em 2em
        footer
          :text-align right
          :padding .5em 1em 1em
          a
            :display block
            :float right
            :clear both
            :margin 1em


footer
  

//-----------------------------------  
// Forms
//-----------------------------------

form
  .formtastic 
    fieldset
      :overflow hidden
      :background blue